body{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
text-align: center;
}
.container h1{
    background-color: black;
    color: white;
    padding :20px;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 25px;
}
.color{
    color: skyblue;
}
.btn{
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    padding-top: 7px;

}
.btn:hover{
    background-color: black;
    color: white;
    transition:all,0.3s,ease-in-out;
    
}